

.orange-pink{
    background: linear-gradient(to right, #FFA07A , #FF4500) ;
}
.top-bar {
    background-color:transparent;
  }
  .menu {
    background-color: transparent !important;
  }
  .content{
    opacity: 0.8;
    filter: alpha(opacity=80);
     
     
      position: absolute;
      height: 100%;
      margin: 0%;
      
      color: #ffffff;
      width: 100%;
      
      /* padding-top: 40%; */


  }
  
.offers {
    
    position: absolute; 
    height: auto;
    width: 60%;
    margin-top: 10%;
    margin-left: 5%;
}
.offer-holder{
  
    background-image: url('./images/1.png');
    position: relative;
    height: 80%;
    width: 100%;
  
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}
.nav-buttons-holder{
    position: relative;
    margin-top: 10%;
    width: 100%;
    height: 80%;
    background-color: #FF4500;
}
.experience{
    background-image: url('./images/8.png');
    position: relative;
    height: 80%;
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

}

.explore{
    
    position: relative;
    height: auto;
    width: 100%;
    background-color:#000000;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

}
.text-center{
    text-align: center;
}
.explore-head{
    margin: auto;
   width: 50%;
}
.special-offer{
    background-color: #ffffff;
    position: relative;
    height: auto;
    width: 100%;
}
.special-offer-header{
    
    
    margin-left: 5%;
    margin-right: 5%;

}
.orange-pink-text{
    
    background: linear-gradient(to right, #FF7F50 20% , #FF4500 100%) ;
    
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.right-button{
    float: right;

}
#responsive-menu{
    background-color: #262626;

}

.dream-home-holder{
    
    
    position: relative;
    height: auto;
    width: 100%;
   
    
}
.dream-home-inner{
    background-image: url('./images/9.png');
   
    position: relative;
    margin: 5%;
    height: 80%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;

}
.dream-home-inner-content{
    
    margin: auto;
    width: 50%;
}
.image-full-height {
    height: 100%;
    margin-bottom:-50px ;
    
}
.eplore-card{
    background-color: #000000 ;
}
.card{
    border-style: none;
    border-radius: 0%;
    background-color: #000000;
    color: #ffffff;
}
.news-highlight{
    background-image: url('./images/Bitmap.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    margin-bottom: 0%;

}
.news-highlight-content{
    width: 40%;
    margin: auto;
}


.footer{
    background: #f1f1f1f1;
    color:#0E4E66;
    margin-top: 0%;
}
.log_image{
    height: 25px;
    width: 25px;
    margin-right: 5%
}
.residence-logo{
/* height: 3%;
width: 20%; */
margin-top: 0%;
}
/* .eplore-card> .card{
    background-color: #000000 !important;
} */
#responsive-menu {
    background-color: transparent;
    color: #ffffff
}
.top-bar a {
     color: #ffffff }
.transparant-button{
    background-color: transparent;
    margin-top: 1%;
    opacity: 0.8;
}   

.card-content{
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
}

.card-content-footer{
    position: absolute;
    margin-top: 18%;
    margin-left: 2%;
}

.card-content-special{
    position: absolute;
    margin-top: 2%;
    margin-left: 2%;
    width: 50%;
    padding-right: 20%;
}
.card-content-footer-special{
    position: absolute;
    margin-top: 36%;
    margin-left: 2%;

}
.footer-center{
    padding-bottom: 5px;
    position: relative;
    margin-top: 2%;

}

.footer-bottom {
    border-top-style: solid;
    display: flex;
    justify-content:center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.item {
    margin: 0 5px;
  }